.hero {
  background-color: linear-gradient(40%, #008000, #FF0000);
  background-size: cover; 
  width: 100vw;
  height: 100vh;
}

.navbar {
  background-color: #FF0000;
}

.navbar-brand {
  font-weight: 700;
  color: #008000;
  text-align: center;
}

.unit {
  margin: 20% 2%;
}

.paragraph {
  text-align: center;
  width: 50%;
}

p {
  color: #FFFAFA;
  font-size: 22px;
  text-align: center;
}
