.hero {
  background-color: linear-gradient(40%, green, red);
  background-size: cover; 
  width: 100vw;
  height: 100vh;
}

.navbar {
  background-color: #ff0000;
}

.navbar-brand {
  font-weight: 700;
  color: green;
}

.unit {
  margin: 20% 2%;
}

.paragraph {
  text-align: center;
}

p {
  color: #FFFAFA;
  font-size: 22px;
  text-align: center;
}
